@model IEnumerable<Products>
@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">product  List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp; New Product </a>
    </div>
</div>
<br />
<form method="post" class="row">
    <div class="col-3">
        <input type="number" name="lowAmount" value="Low Amount" class="form-control" />
    </div>
    <div class="col-3">
        <input type="number" name="largeAmount" value="Large Amount" class="form-control" />
    </div>
    <div class="col-3">
        <input type="submit" value="Search" class=" btn btn-success" />
    </div>
</form>
<br />
<div>
    <table class="table table-striped border" id="myTable">
        <thead>
            <tr class="table-info">
                <th>
                    @Html.DisplayNameFor(expression: c => c.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(expression: c => c.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(expression: c => c.ProductColor)
                </th>
                <th>
                    @Html.DisplayNameFor(expression: c => c.IsAvailable)
                </th>
                <th>
                    @Html.DisplayNameFor(expression: c => c.ProductTypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(expression: c => c.specialTags)
                </th>
                <th></th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var prodcut in Model)
            {
                <tr>
                    <td> @prodcut.Name</td>
                    <td> @prodcut.Price</td>
                    <td> @prodcut.ProductColor</td>
                    <td> @prodcut.IsAvailable</td>
                    <td> @prodcut.productTypes.ProductType  </td>
                    <td> @prodcut.specialTags.specialTag  </td>
                    <td>
                        <partial name="_ButtonPartial" model="@prodcut.Id" />
                    </td>
                </tr>
            }
        </tbody>



    </table>
</div>
@section scripts
{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
    
        $(document).ready(function () {
            $('#myTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });

        $(function () {
            var save = '@TempData["save"]'
            var update = '@TempData["update"]'
            var deleted = '@TempData["delete"]'

            if (save != '') {
                alertify.success(save);
            }
            if (update != '') {
                alertify.success(update);
            }
            if (deleted != '') {
                alertify.error(deleted);
            }
        })
    </script>


}